@import "tailwindcss";
@import "./clash-display.css";
@import "./switzer.css";

@layer base{
  :root {
    font-family: "Switzer-Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0, 100%);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --display-font: "ClashDisplay-Variable";
    --body-font: "Switzer-Variable";
  }
  body{
    @apply w-full
  }
  a{
    @apply inline-block
  }
}

@layer utilities{
  .display{
    font-family: var(--display-font);
  }
}

@layer components{
  .Wrapper{
    @apply md:px-14 sm:px-7 px-5 w-full
  }
  .Intro{
    @apply block w-full content-center h-[100vh]
  }
  .Intro-img{
    @apply inline md:order-1 order-[-1] my-5 md:my-0 rounded-full h-[8rem] sm:h-[10rem]
  }
  .Intro-Text{
    @apply md:block flex flex-col justify-start items-start sm:text-6xl lg:text-8xl text-5xl font-semibold sm:leading-[7rem] text-gray-950
  }
  .section-header {
    @apply md:text-7xl sm:text-5xl text-4xl font-semibold py-10 text-gray-950
  }
  .card-container{
    @apply w-full flex gap-7 flex-wrap 
  }
  .card{
    @apply bg-gray-100 p-7 rounded-3xl w-full md:flex-1/3;
    font-family: var(--body-font);
  }
  .card-title{
    @apply md:text-3xl sm:text-2xl text-xl font-semibold
  }
  .card-details{
    @apply text-gray-500 text-[1rem] font-light
  }
  .card-description{
    @apply mt-10 text-[1rem] font-normal flex justify-between
  }
  .icon{
    @apply border border-gray-300 rounded-full p-5 hover:border-gray-400 transition-all
  }
  .project-card{
    @apply border-gray-200 rounded-3xl sm:flex-1/3 flex-1/2 sm:w-fit w-full p-5
  }
  .project-cover{
    @apply w-full sm:h-[15rem] md:h-[33rem] h-[15rem]
  }
  .project-cover img{
    @apply aspect-auto;
  }
  .project-details{
    @apply px-5
  }
  .project-title{
    @apply text-3xl font-semibold my-2
  }
  .project-desc{
    @apply text-[1rem] text-gray-700 font-normal
  }
  .project-btn{
    @apply mt-8 py-3 px-6 transition-colors font-medium rounded-3xl cursor-pointer flex gap-3
  }
  .cover{
    @apply flex justify-center items-center w-full h-full
  }
}
section{
  @apply mb-14;
}